:root {
  // colors
  --primary-color: #F3F4EC;
  --secondary-color: #6C6E71;
  --forest-green: #292D33;
  --charcoal: #202020;
  --sunset: #D4491B;
  
  // typography
  --main-font: "indivisible", sans-serif;
  --support-font: "turnip", serif;
}
/* reset  */
body,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow{
  display: none !important;
}

.more-info {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--primary-color);
  // content 
  .more-info--content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 20px;
    text-align: center;

    h2 {
      font-family: var(--main-font);
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1;
      color: var(--sunset);
    }
    h3 {
      font-family: var(--main-font);
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.2;
      color: var(--charcoal);
      letter-spacing: -0.01;
      margin-top: 8px;
    }
    p {
      font-family: var(--support-font);
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.4;
      color: var(--charcoal);
      margin-top: 8px;
    }

    a.more-info--content__button {
      display: inline-block;
      font-size: 1.125rem;
      font-family: var(--main-font);
      line-height: 23.4px;
      font-weight: 600;
      padding: 0.719rem 6.188rem;
      background-color: var(--charcoal);
      color: var(--primary-color);
      border-radius: 80px;
      cursor: pointer;
      margin-top: 1.75rem;

      &:hover {
        background-color: var(--sunset);
      }
    }

  }
  // cover
  .more-info--media {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
}


// slick js 
.slick-dots {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;

  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 8px;
    width: 8px;
    button {
      font-size: 0;
      border: none;
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 50%;
    }
  }
  .slick-active {
    width: 28px !important;
    button {
      background-color: var(--sunset);
      border-radius: 20px;
    }
  }
}
.slick-slide {
  min-height: 90vh;
}

// Fancybox js 
.fancybox__backdrop::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 10%;
  filter: blur(2px);
  left: 50%;
  top: 50%;
  transform: scale(11);
  opacity: 0.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox__toolbar {
  padding: 16px;
}

.fancybox__toolbar,
.fancybox__nav {
  --f-button-border-radius: 50%;
  --f-button-bg: rgb(91 78 76 / 64%);
  --f-button-hover-bg: rgb(91 78 76 / 74%);
  --f-button-active-bg: rgb(91 78 76 / 84%);
}

.fancybox__nav {
  --f-button-svg-width: 22px;
  --f-button-svg-height: 22px;
}

.fancybox__thumbs.is-classic {
  --f-thumb-width: 48px;
  --f-thumb-height: 48px;
  --f-thumb-gap: 16px;

  --f-thumb-border-radius: 6px;
  --f-thumb-outline: 0;
}


@media (max-width: 920px) {
  body{
    margin: 8px 14px;
  }
  .more-info {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: solid 1px rgb(0 0 0 / 7%);
    border-bottom: solid 1px rgb(0 0 0 / 7%);
    border-left: solid 1px rgb(0 0 0 / 7%);

    .more-info--content{
      min-height: 30vh;
    }

    .more-info--media {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      max-height: 55vh;
      img{
        border-radius: 8px 8px 2px 2px;
      }
    }
  }
}

@media (min-width: 920px) {
  .more-info {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

    .more-info--content {
      padding: 164px 90px 164px 70px;
      text-align: left;
      h2 {
        font-size: 1.25rem;
      }
      h3 {
        font-size: 2rem;
        margin-top: 10px;
        max-width: calc(100% - 12rem);
      }
      p {
        font-size: 1.125rem;
        margin-top: 12px;
      }
    }
  }

  .more-info:nth-of-type(even) .more-info--media {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .more-info:nth-of-type(even) .more-info--content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 1084px) and (min-width: 920px)  {
  .more-info .more-info--content {
    padding: 64px 74px 64px 58px;
    text-align: left;
    h3 {
      max-width: 100%;
    }
  } 
}

@media (max-width: 539px){
  .more-info{
    .more-info--media {
      max-height: 400px;
    }
  }
}

@media (max-width: 440px) {
  .more-info {
    .more-info--media {
      max-height: 250px;
    }
    
  }
}